<div id="layout-wrapper" (window:resize)="onResize($event)">
    <app-topbar-secretary (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-topbar-secretary>
    <!-- Side Bar -->
    <!-- <app-sidebar></app-sidebar> -->
     <app-sidebar-secretary></app-sidebar-secretary>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <app-footer-secretary></app-footer-secretary>
    </div>
</div>
